/*Reseteo de estilos*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
  }

  body{
    background-color: #FAFAFA;
  }

  /* header*/
  header{
    width: 100%;
    height: 50px;
    background-color: #ECECEC;
  }



  /*main */


  /* seccion categoria*/

  section.categoria{
    position: relative;
    padding-left: 3px;
  }

  /*carrusel juego*/
  section.categoria ul.juego-carrusel{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 5px 0;
    column-gap: 15px;
  }

  /*titulo categoria*/

  section.categoria h2.juego-categoria{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
    margin: 10px 0;
    text-transform: capitalize;
  }

  /* card juego carrusel*/

  section.categoria ul.juego-carrusel .juego-card{
    height: auto;
    width: 130px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.21);
    transition: all 1s;
  }
  section.categoria ul.juego-carrusel .juego-card:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
  }

  /*imagen card juego*/

  section.categoria ul.juego-carrusel .juego-card .juego-card-img{
    display: flex;
    justify-content: center;
    padding: 2px 2px 0 2px;
    
  }
  section.categoria ul.juego-carrusel .juego-card .juego-card-img img{
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 8px;
  }


