/*Reseteo de estilos*/

*{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  body{
    background-color: #FAFAFA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: '';
    overflow:hidden;
  }

  a{
    color: #111111;
  }
  a:hover{
    color: #4d4d4d;
  }

  @keyframes fadeOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1; 
    }
  }

.loader-hero{
    background-color: #030513;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loader-hero .ring span{
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 200px;
}

/*preloader*/

.loader{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.ring::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
    animation: ring .5s infinite;
}

.loader .ring span{
    color: #000000;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 200px;
}

@keyframes ring {
  0%{
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #1F71B5;
  }
  25%{
      transform: rotate(90deg);
      box-shadow: 1px 5px 2px #1F71B5;
  }
  50%{
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #1F71B5;
  }
  75%{
      transform: rotate(270deg);
      box-shadow: 1px 5px 2px #1F71B5;
  }
  100%{
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #1F71B5;
  }
}

  /* header*/
header{
  width: 100%;
  height: 70px;
  background-color: #ECECEC;
  box-shadow: 0 6px 3px -2px rgb(168, 167, 167);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .left-header{
  width: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .6em;
}

header .search-header{
  width:60%;
  display: flex;
  align-items: center;
  justify-content: start;
}
/*///// buscador /////*/
header .search-header .search-input-content{
  background-color: #ffffff;
  width: 0;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  transition: .35s ease-out;
}

header .search-header .search-input-content .search-input{
  width: 100%;
  height: 100%;
  padding-left:8px;
  font-size: 14px;
}

header .search-header .search-input-content:hover{
  width:500px;
}
header .search-header .search-input-content:focus{
  width:500px;
}

header .search-header .search-input-content a{
  padding-right:8px;
}

header .right-header{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
}

header .imagen{
  width: 50px;
  height:50px;
  border-radius: 100%;
  transition: .35s ease-in;
}

header .imagen:hover, .footer-logo:hover{
  transition: .35s ease-out;
  box-shadow: 1px 2px 1px 1px rgb(168, 167, 167);
} 

header .icon-main{
    margin-left: 20px;
}

header .icon-user{
    margin-right: 20px;
}

/* nav */
.nav{
  display: flex;
  flex-direction: column;
  background-color: #ECECEC;
  width: 100%;
  height: 0;
  box-shadow: 0 6px 3px -2px rgb(168, 167, 167);
  overflow: hidden;
  z-index: 150;
  transition: .5s ease-out;
  position: relative;
}

.nav.show{
  height: 705px;
  /*left: 0;*/
}

.list{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list .list-item{
  width: 100%;
  height: 70px;
}

.list .list-item .list-button{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  margin: 0, auto;
}

.list .list-item .list-button .nav-link{
  color: #000000;
  display: block;
  line-height: 70px;
  height: 100%;
  width: 100%;
  margin-left: 35px;
}

.list .list-item .list-button .nav-link i{
  margin-right: 16px;
}

.list-item:hover{
  background-color: rgb(216, 216, 216);
  transition: .35s ease-in;
}

.nav .list .list-item:nth-child(8), .user-nav .list .list-item:last-child, .nav .main-social {
  border-top: 1px solid #0000001f;
}

.nav .main-social{
  display: flex;
  justify-content: center;
}

.nav .main-social a{
  margin: 10px;
}

/* user-nav */
.user-nav{
  display: flex;
  flex-direction: column;
  background-color: #ECECEC;
  width: 100%;
  height: 0;
  box-shadow: 0 6px 3px -2px rgb(168, 167, 167);
  overflow: hidden;
  z-index: 150;
  transition: .5s ease-out;
}

.user-nav.showUser{
  height: 450px;
  position: relative;
}

.user-nav section{
  width: 100%;
  display: flex;
  justify-content: start;
  margin:10px 0 10px 35px;
  gap: 1em;
}

.user-nav section .user-image{
  background-color: #777777;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.user-nav section .user-name{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .2em;
  width: 50%;
}

.user-nav section .user-name h3{
  padding-left: 10px;
}

.user-nav section .user-name span{
  padding-left: 10px;
  color: #777777;
}
  
/*main */

  /* seccion categoria*/

  section.category{
    position: relative;
    padding-left: 3px;
    margin-bottom: 60px;
  }

  /*carrusel juego*/
  section.category ul.game-slide{
    display: flex;
    column-gap: 15px;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 5px 0;
    column-gap: 15px;
  }

  /*titulo categoria*/

  section.category h2.game-category{
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
    margin: 10px 0;
    text-transform: capitalize;
  }

  /* botones sigueinte y anterior carrusel*/

  section.category .category-button-left, section.category .category-button-right{
    position: absolute;
    top: 50%;
    font-size: 30px;
    width: 28px;
    height: 28px;
    background-color: #dfdfdf;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 100;
    color: #015194;
    cursor: pointer;
  }

  section.category .category-button-left{
    left: 0%;
  }

  section.category .category-button-right{
    right: 0%;
  }

  /*nav carrusel*/

  .pag-slide{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .pag-slide button{
    background-color: #858383;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
  }

  .pag-slide button.active{
    background-color: #015194;

  }

  /* card juego carrusel*/

  section.category ul.game-slide .game-card{
    height: auto;
    width: 140px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.21);
    transition: all 1s;
  }
  section.category ul.game-slide .game-card:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
  }

  /*imagen card juego*/

  section.category ul.game-slide .game-card .game-card-img{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2px 2px 0 2px;
    
  }
  section.category ul.game-slide .game-card .game-card-img img{
    width: 136px;
    height: 136px;
    border-radius: 8px;
    object-fit: cover;
  }

  /*etiqueta imagen*/

  section.category ul.game-slide .game-card .game-card-img .tag{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2px;
    top: 10px;
    border-radius: 0px 10px 10px 0px;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    width: 70px;
  }

      /*etiqueta pago*/
      section.category ul.game-slide .game-card .game-card-img .bought{
        background: #FF781C;
        color: white;
      }

      /*etiqueta subscripcion*/
      section.category ul.game-slide .game-card .game-card-img .subscription{
        background: #FFD21C;
        color: black;
      }


    /* info card*/

    section.category ul.game-slide .game-card .card-info{
      height: 79px;
      display: grid;
      grid-template-columns: 1fr 4fr 4fr 1fr;
      grid-template-rows: 3fr 2fr 3fr;
      grid-template-areas: ". titulo titulo ."
                           ". genero . ."
                           ". precio boton .";
      padding: 5px 5px;
      align-items: center;
    }
    section.category ul.game-slide .game-card .card-info .card-title{
      grid-area: titulo;
      font-style: normal;
      font-size: 14px;
      font-weight: 100;
      text-transform: capitalize;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
        
    }
    section.category ul.game-slide .game-card .card-info .card-genre{
      grid-area: genero;
      display: flex;
      align-items: center;
      font-weight: 100;
      font-size: 10px;
      line-height: 16px;
      text-transform: capitalize;
    }
  
    section.category ul.game-slide .game-card .card-info .card-price{
      grid-area: precio;
      font-size: 15px;
      line-height: 26px;
      font-weight: 600;
    }
  
  
    /*boton card con sus acciones*/
   
    section.category ul.game-slide .game-card .card-info .card-button{
      margin-left: 5px;
      grid-area: boton;
      height: 23px;
      width: 75px;
      border-radius: 15px;
      transition: all 1s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    /*boton comprar*/
    section.category ul.game-slide .game-card .card-info .button-buy{
      background-color: #FF781C;
    }
  
    section.category ul.game-slide .game-card .card-info .button-buy:hover{
      background-color: #EF6100;
      transform: scale(1.1);
    }
  
    section.category ul.game-slide .game-card .card-info .button-buy:active{
      background-color: #B84A00;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.44);
    }

    /*boton jugar*/
    
    section.category ul.game-slide .game-card .card-info .button-play{
      background-color: #1F71B5;
    }
  
    section.category ul.game-slide .game-card .card-info .button-play:hover{
      background-color: #015194;
      transform: scale(1.1);
    }
  
    section.category ul.game-slide .game-card .card-info .button-play:active{
      background-color: #004884;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.44);
    }
  
    /*texto boton*/
    section.category ul.game-slide .game-card .card-info .card-button a{
      color: white;
      padding: 2px;
      font-style: normal;
      font-weight: 500;
      font-size: 100%;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
    }



    /* footer*/

.footer-container{
    background-color: #ECECEC;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.footer-container .footer-nav{
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 20px;
}

.footer-container .footer-logo-container{
    display: flex;
    justify-content: center;
}

.footer-container .footer-logo-container .footer-logo{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    border-radius: 100%;
    transition: .35s ease-in;

}

.footer-container .footer-nav .footer-links h3{
    padding: 16px 0px 10px 18px;
    letter-spacing: 3px;
    color: #777777;
}

.footer-container .footer-nav .footer-links li{
    padding: 4px 0px 10px 18px;
    font-size: 14px;
}


.footer-container .line{
    width: 90%;
    border-top: 1px solid #0000001f;
    margin: 20px 5%;
}

.footer-container .footer-social{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-container .footer-social a{
    margin: 10px 16px 10px 16px;
}

.footer-container span{
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}



@media only screen and (min-width: 768px){

  header{
    height: 90px;
  }

  header .left-header{
    width: 20%;
    gap: 1em;
  }
  
  header .search-header{
    justify-content: center;
  }
  /*///// buscador /////*/
  header .search-header .search-input-content{
    width: 500px;
    height: 50px;
    border-radius: 10px;
  }
  
  header .search-header .search-input-content .search-input{
    padding-left:24px;
    font-size: 16px;
  }
  
  header .search-header .search-input-content a{
    padding-right:24px;
  }
  
  header .right-header{
    width: 20%;
  }
  
  header .imagen{
    width: 70px;
    height: 70px;
  }

  .dark-background{
    visibility: hidden;
    transition: .5s ease-in-out;
  }

  .dark-background.on{
    visibility: visible;
    content: '';
    top: 90px;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #00000094;
    position: absolute;
    z-index: 110;
  }

  .nav{
    width: 380px;
    left: -100%; 
    position: fixed;
    height: 705px;
  }

  .nav.show{
    position: absolute;
    left: 0;
  }

  .user-nav{
    width: 380px;
    right:-100%; 
    position: fixed;
    height: 450px;
  }

  .user-nav.showUser{
    position: absolute;
    right: 0;
  }

  /*card juego*/
  section.category ul.game-slide .game-card{
    height: auto;
    width: 170px;
  }

  /*imagen card juego*/

  section.category ul.game-slide .game-card .game-card-img{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 2px 2px 0 2px;
    
  }
  section.category ul.game-slide .game-card .game-card-img img{
    width: 165px;
    height: 165px;
  }

  /* card-info*/
  section.category ul.game-slide .game-card .card-info .card-title{
    font-size: 15px;
    font-weight: 300;   
  }
  section.category ul.game-slide .game-card .card-info .card-genre{
    font-weight: 500;
    font-size: 9px;
  }

  .footer-container .footer-nav{
    display: grid;
    width: 80%;
    margin: 25px 4% 0% 16%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  } 


}

@media only screen and (min-width: 1024px){
  /*4 en linea*/
  .game{
    width: 100%;
    height: 700px;
    
  }

/*card juego*/
  section.category ul.game-slide .game-card{
    height: auto;
    width: 230px;
  }

  /*imagen card juego*/
  section.category ul.game-slide .game-card .game-card-img img{
    width: 225px;
    height: 225px;
  }

    /* info card*/

    section.category ul.game-slide .game-card .card-info{
      height: auto;
    }
    section.category ul.game-slide .game-card .card-info .card-title{
      font-size: 20px;  
    }
    section.category ul.game-slide .game-card .card-info .card-genre{
      font-weight: 500;
      font-size: 11px;
    }
    section.category ul.game-slide .game-card .card-info .card-price{
      font-size: 20px;

    }

    /*boton card*/

    section.category ul.game-slide .game-card .card-info .card-button{
      height: 35px;
      width: 100px;
    }

    
    /*texto boton*/
    section.category ul.game-slide .game-card .card-info .card-button a{
      font-size: 20px;
    }

    .footer-container .footer-grid{
      display: grid;
      grid-template-columns: 1fr 4fr;
      width: 80%;
      height: 300px;
      margin: 20px 10%;
    }
    .footer-container .footer-nav{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 0 0 0 20%;
    }  

}


@media only screen and (min-width: 1440px){ 

  /*card juego*/
  section.category ul.game-slide .game-card{
    width: 260px;
    height: 400px;
  }

    /*imagen card juego*/
    section.category ul.game-slide .game-card .game-card-img img{
      width: 250px;
      height: 250px;
    }

      /*etiqueta imagen*/

      section.category ul.game-slide .game-card .game-card-img .tag{
        top: 20px;
        font-size: 15px;
        width: 100px;
      }

      /* card-info*/
      section.category ul.game-slide .game-card .card-info .card-title{
      font-size: 26px;  
    }
    section.category ul.game-slide .game-card .card-info .card-genre{
      font-weight: 500;
      font-size: 14px;
    }
    section.category ul.game-slide .game-card .card-info .card-price{
      font-size: 22px;

    }

    /*boton card*/

    section.category ul.game-slide .game-card .card-info .card-button{
      height: 43px;
      width: 135px;
    }

        /*texto boton*/
  section.category ul.game-slide .game-card .card-info .card-button a{
    font-size: 26px;
  }


}


