/*Reseteo de estilos*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
  }

  body{
    background-color: #FAFAFA;
  }

  /* header*/
  header{
    width: 100%;
    height: 50px;
    background-color: #ECECEC;
  }



  /*main */

  


