*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: rgb(11, 11, 20);
}

header{
    width: 100%;
    height: 70px;
    background-color: #ECECEC;
    box-shadow: 0px 5px 9px rgb(168, 167, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .imagen{
    width: 60px;
    height: 60px;
    background-color: rgb(88, 88, 88);
}
header .icono-menu{
    margin-left: 20px;
}

header .icono-usuario{
    margin-right: 20px;
}

.container{
    width: 100%;
    height: 600px;
    background-color: rgb(88, 88, 88);
}
.container p{
    color: #ECECEC;
}

.footer-container{
    background-color: #ECECEC;
    width: 100%;
    min-height: 800px;
}

.footer-container .footer-logo-container{
    display: flex;
    justify-content: center;
}

.footer-container .footer-logo-container .footer-logo{
    width: 100px;
    height: 100px;
    background-color: rgb(88, 88, 88);
    margin-top: 10px;
}

.footer-container .footer-links h3{
    padding: 6px 0px 0px 18px;
}

.footer-container .footer-links li{
    padding: 8px 0px 10px 18px;
}

.footer-container hr{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    color: #B8B8B8;
}

.footer-container .footer-social{
    width: 100%;
    height: auto;
}

.footer-container .footer-social{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.footer-container .footer-social a{
    margin: 10px 16px 10px 16px;
}

.footer-container p{
    text-align: center;
    padding-bottom: 20px;
}



