/*Reseteo de estilos*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

  body{
    background-color: #FAFAFA;
  }

  /* header*/
  header{
    width: 100%;
    height: 70px;
    background-color: #ECECEC;
    box-shadow: 0px 5px 9px rgb(168, 167, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .imagen{
    width: 60px;
    height: 60px;
    background-color: rgb(88, 88, 88);
}
header .icono-menu{
    margin-left: 20px;
}

header .icono-usuario{
    margin-right: 20px;
}



  /*main */


  /* seccion categoria*/

  section.categoria{
    position: relative;
    padding-left: 3px;
  }

  /*carrusel juego*/
  section.categoria ul.juego-carrusel{
    display: flex;
    column-gap: 15px;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 5px 0;
    column-gap: 15px;
  }

  /*titulo categoria*/

  section.categoria h2.juego-categoria{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
    margin: 10px 0;
    text-transform: capitalize;
  }

  /* botones sigueinte y anterior carrusel*/

  section.categoria .categoria-boton-izquierda, section.categoria .categoria-boton-derecha{
    position: absolute;
    top: 50%;
    font-size: 30px;
  }

  section.categoria .categoria-boton-izquierda{
    left: 0%;
  }

  section.categoria .categoria-boton-derecha{
    right: 0%;
  }


  /* card juego carrusel*/

  section.categoria ul.juego-carrusel .juego-card{
    height: auto;
    min-width: 140px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.21);
    transition: all 1s;
  }
  section.categoria ul.juego-carrusel .juego-card:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
  }

  /*imagen card juego*/

  section.categoria ul.juego-carrusel .juego-card .juego-card-img{
    display: flex;
    justify-content: center;
    padding: 2px 2px 0 2px;
    
  }
  section.categoria ul.juego-carrusel .juego-card .juego-card-img img{
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 8px;
  }


    /* info card*/

    section.categoria ul.juego-carrusel .juego-card .card-info{
      display: grid;
      grid-template-columns: 1fr 4fr 4fr 1fr;
      grid-template-areas: ". titulo titulo ."
                           ". genero . ."
                           ". precio boton .";
      padding: 5px 5px;
  
    }
    section.categoria ul.juego-carrusel .juego-card .card-info .card-titulo{
      grid-area: titulo;
      font-style: normal;
      font-size: 14px;
      font-weight: 100;
      text-transform: capitalize;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
        
    }
    section.categoria ul.juego-carrusel .juego-card .card-info .card-genero{
      grid-area: genero;
      display: flex;
      align-items: center;
      font-weight: 100;
      font-size: 10px;
      line-height: 16px;
      text-transform: capitalize;
    }
  
    section.categoria ul.juego-carrusel .juego-card .card-info .card-precio{
      grid-area: precio;
      font-size: 15px;
      line-height: 26px;
      font-weight: 600;
    }
  
  
    /*boton card con sus acciones*/
   
    section.categoria ul.juego-carrusel .juego-card .card-info .card-boton{
  
      background-color: #FF781C;
      grid-area: boton;
      height: 23px;
      width: 75px;
      border-radius: 15px;
      transition: all 1s;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    section.categoria ul.juego-carrusel .juego-card .card-info .card-boton:hover{
      background-color: #EF6100;
    }
  
    section.categoria ul.juego-carrusel .juego-card .card-info .card-boton:active{
      background-color: #B84A00;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.44);
    }
  
    
    section.categoria ul.juego-carrusel .juego-card .card-info .card-boton a{
      color: white;
    }



    /* footer*/

  .footer-container{
    background-color: #ECECEC;
    width: 100%;
    min-height: 800px;
}

.footer-container .footer-logo-container{
    display: flex;
    justify-content: center;
}

.footer-container .footer-logo-container .footer-logo{
    width: 100px;
    height: 100px;
    background-color: rgb(88, 88, 88);
    margin-top: 10px;
}

.footer-container .footer-links h3{
    padding: 6px 0px 0px 18px;
}

.footer-container .footer-links li{
    padding: 8px 0px 10px 18px;
}

.footer-container hr{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    color: #B8B8B8;
}

.footer-container .footer-social{
    width: 100%;
    height: auto;
}

.footer-container .footer-social{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.footer-container .footer-social a{
    margin: 10px 16px 10px 16px;
}

.footer-container p{
    text-align: center;
    padding-bottom: 20px;
}



