/*Reseteo de estilos*/

*{
    margin: 0;
    padding: 0;
    /*border:0;*/
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }

body{
  background-color: #FAFAFA;
}

a{
  color: #111111;
}
a:hover{
  color: #4d4d4d;
}
  /* header*/
header{
  width: 100%;
  height: 70px;
  background-color: #ECECEC;
  box-shadow: 0 6px 3px -2px rgb(168, 167, 167);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .imagen{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transition: .35s ease-in;
}

header .imagen:hover, .footer-logo:hover{
  transition: .35s ease-out;
  box-shadow: 1px 2px 1px 1px rgb(168, 167, 167);
} 

header .icon-main{
    margin-left: 20px;
}

header .icon-user{
    margin-right: 20px;
}

/* nav */
.nav{
  display: flex;
  flex-direction: column;
  background-color: #ECECEC;
  width: 100%;
  height: 460px;
  left: -100%; 
  box-shadow: 0 6px 3px -2px rgb(168, 167, 167);
  overflow: hidden;
  position:fixed;
  z-index: 100;
  transition: .5s ease-out;
}

.nav.show{
  position: absolute;
  left: 0;
  transition: .5s ease-in;
}

.list{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list .list-item{
  width: 100%;
  text-align: center;
}

.list .list-item .list-button{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.list .list-item .list-button .nav-link{
  color: #000000;
  display: block;
  padding: 15px 0;
}

.list-item:hover{
  background-color: rgb(216, 216, 216);
  transition: .35s ease-in;
}

.nav .main-social{
  display: flex;
  justify-content: center;
}

.nav .main-social a{
  margin: 5px;
}

.nav hr, .user-nav hr{
  color: #dfdfdf;
}

.user-nav{
  display: flex;
  flex-direction: column;
  background-color: #ECECEC;
  width: 100%;
  height: 417px;
  right:-100%; 
  box-shadow: 0 6px 3px -2px rgb(168, 167, 167);
  overflow: hidden;
  position: fixed;
  z-index: 100;
  transition: .5s ease-out;
}

.user-nav.showUser{
  position: absolute;
  right: 0;
  transition: .5s ease-in;
}

.user-nav section{
  display: flex;
  justify-content: center;
}

.user-nav section .user-image{
  width: 150px;
  height: 150px;
  margin: 10px;
}


  /*main */


  /* seccion categoria*/

  section.categoria{
    position: relative;
    padding-left: 3px;
  }

  /*carrusel juego*/
  section.categoria ul.juego-carrusel{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 5px 0;
    column-gap: 15px;
  }

  /*titulo categoria*/

  section.categoria h2.juego-categoria{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
    margin: 10px 0;
    text-transform: capitalize;
  }

  /* card juego carrusel*/

  section.categoria ul.juego-carrusel .juego-card{
    height: auto;
    width: 130px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.21);
    transition: all 1s;
  }
  section.categoria ul.juego-carrusel .juego-card:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
  }

  /*imagen card juego*/

  section.categoria ul.juego-carrusel .juego-card .juego-card-img{
    display: flex;
    justify-content: center;
    padding: 2px 2px 0 2px;
    
  }
  section.categoria ul.juego-carrusel .juego-card .juego-card-img img{
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 8px;
  }



.footer-container{
    background-color: #ECECEC;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.footer-container .footer-nav{
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 20px;
}

.footer-container .footer-logo-container{
    display: flex;
    justify-content: center;
}

.footer-container .footer-logo-container .footer-logo{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    border-radius: 100%;
    transition: .35s ease-in;

}

.footer-container .footer-nav .footer-links h3{
    padding: 16px 0px 10px 18px;
    letter-spacing: 3px;
    color: #777777;
}

.footer-container .footer-nav .footer-links li{
    padding: 4px 0px 10px 18px;
    font-size: 14px;
}


.footer-container hr{
    width: 90%;
    margin: 20px 5%;
    color: #dfdfdf;
}

.footer-container .footer-social{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.footer-container .footer-social a{
    margin: 10px 16px 10px 16px;
}

.footer-container span{
    text-align: center;
    padding-bottom: 20px;
}



@media only screen and (min-width:768px){
    .nav{
      width: 400px;
      height: 464px;
      left: -400px; 
    }
  
    .user-nav{
      width: 400px;
      height: 417px;
      right:-400px; 
    }
    
    .footer-container .footer-nav{
      display: grid;
      width: 80%;
      margin: 25px 4% 0% 16%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }   
}

@media only screen and (min-width:1024px){

  .footer-container .footer-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 80%;
    height: 300px;
    margin: 20px 10%;
  }
  .footer-container .footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0 0 20%;
  }  
}


